
body {
    text-align: center;
    min-height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 225%;
}

.trunc {
    max-width: 75%;
    margin: 0 auto;
}

#draw {
    display: none;
}

.form-control {
    display: inline-block !important;
    width: auto !important;
}

.err, #err {
    color: red;
}

#topbar {
    background-color: rgba(200, 200, 200, 0.6);
    width: 100%;
    padding: 5px;
    top: 0px;
    left: 0px;
    position: fixed;
    text-align: left;
    vertical-align: middle;
    z-index: 1;
}

#gridCheck {
    vertical-align: bottom;
}

#roominfo {
    font-weight: bold;
    font-size: 200%;
    display: inline-block;
}

#colorpicker {
    display: inline-block;
}

#radius {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#radiuscanvas {
    vertical-align: middle;
}

#tileHolder {
    z-index: -1;
}

form input[type="text"] {
    min-width: 30%;
}

#tileHolder canvas {
    cursor: crosshair;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
}

#cursorsWrapper {
    width: 0;
    height: 0;
}

.cursor {
    position: absolute;
    font-size: 75%;
    display: inline-block;
    cursor: crosshair;
}

.cursor-img:first-child {
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(90deg);
    padding-right: 0.3em;
}

.cursor-text {
    background-color: rgba(200, 200, 200, 0.5);
    display: inline-block;
}

#minimap {
    position: fixed;
    bottom: 3px;
    right: 3px;
    background-color: rgba(200, 200, 200, 0.2);
    display: hidden;
    border: 3px solid #CCC;
    opacity: 0.6;
}

#minimap_screen {
    position: absolute;
    display: inline-block;
    border: 1px solid #FFF;
}

#minimap_canvas {
    position: absolute;
    bottom: 3px;
    right: 3px;
    opacity: 0.6;
}

.pre_img {
    position: absolute;
    cursor: crosshair;
}
