
body {
    padding-top: 0.2em;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 225%;
}

.trunc {
    max-width: 75%;
    margin: 0 auto;
}

#draw {
    display: none;
}

.form-control {
    display: inline-block !important;
    width: auto !important;
}

.err, #err {
    color: red;
}

#topbar {
    background-color: rgba(200, 200, 200, 0.6);
    width: 100%;
    padding: 5px;
    top: 0px;
    left: 0px;
    position: fixed;
    text-align: left;
    vertical-align: middle;
}

#roominfo {
    font-weight: bold;
    font-size: 200%;
    display: inline-block;
}

#colorpicker {
    display: inline-block;
}

#radius {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#radiuscanvas {
    vertical-align: middle;
}

#canvas {
    cursor: crosshair;
}
